<p style="color: green"><%= notice %></p>

<div class="page-header">
  <h1>Students</h1>
</div>

<div class="navbar">
  <ul class="nav nav-tabs">
    <li class="nav-item"><a class="nav-link active" aria-current="page" href="#">show1</a></li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="accountDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Show2
      </a>
      <ul class="dropdown-menu" aria-labelledby="accountDropdown">
        <li><a class="dropdown-item" href="#">test1</a></li>
        <li><a class="dropdown-item" href="#">test2</a></li>
        <li><a class="dropdown-item" href="#">test3</a></li>
      </ul>
    </li>
  </ul>
</div>


<%= render 'search_form', search_params: @search_params %>

<div id="students">
  <% @students.each do |student| %>
    <%= render('student_row', student: student) %>
  <% end %>
</div>

