<div id="<%= dom_id projects_to_many %>">
  <p>
    <strong>Title:</strong>
    <%= projects_to_many.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= projects_to_many.description %>
  </p>

</div>
