<h1>Editing portfolio one to many</h1>

<%= render "form", portfolio_one_to_many: @portfolio_one_to_many %>

<br>

<div>
  <%= link_to "Show this portfolio one to many", @portfolio_one_to_many %> |
  <%= link_to "Back to portfolio one to manies", portfolio_one_to_manies_path %>
</div>
